# ==============================
# Local secrets
# ==============================

/api/config/config.local.php
/api/config/geoapify.local.php


# ==============================
# Firebase private credentials
# ==============================

*firebase-service-account*.json


# ==============================
# Composer dependencies
# ==============================

/vendor/


# ==============================
# IDE
# ==============================

.vscode/


# ==============================
# Logs
# ==============================

*.log


# ==============================
# Windows
# ==============================

Thumbs.db


# ==============================
# macOS
# ==============================

.DS_Store