# ==============================
# Local secrets
# ==============================

/api/config/ca.pem

# Environment secrets
.env
.env.*
!.env.example

# ==============================
# Firebase private credentials
# ==============================

*firebase-service-account*.json


# ==============================
# Composer dependencies
# ==============================

/vendor/


# ==============================
# IDE
# ==============================

.vscode/


# ==============================
# Logs
# ==============================

*.log


# ==============================
# Windows
# ==============================

Thumbs.db


# ==============================
# macOS
# ==============================

.DS_Store